{% load dajaxice_templatetags %}
<html>
	<head>
		<title>We All!</title>
		{% load staticfiles %}
		{% dajaxice_js_import %}
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'main/icn/favicon.ico' %}" />
		<meta http-equiv="Content-Type" content="text /html; charset=UTF-8" />
		<link type="text/css" rel="stylesheet" href="{% static 'main/css/team.css' %}" media="screen"/>
		<link rel="stylesheet" href="{% static 'chat/style.css' %}"/>
	<!--	<link type="text/css" rel="stylesheet" href="{% static 'main/css/tipsy.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'main/css/jscroll.css' %}" /> -->
		<script type="text/javascript" src="{% static 'main/jsc/jquery-1.4.js' %}"></script>
		<script type="text/javascript" src="{% static 'main/jsc/roundabout.js' %}"></script>		
		<script type="text/javascript" src="{% static 'main/jsc/myscripts.js' %}"></script>	
		<script type="text/javascript" src="{% static 'main/jsc/myjs.js' %}"></script>

	</head>
	<body>
		<ul id="nav">
			<div id="backbar"></div>
			<center>
				<li where="1" class="selected">News Feed</li>
				<li where="2">New Post</li>				
				<li where="3">Chat</li>
				<li where="4">Find Friends</li>				
				<li where="5">Profile</li>
			</center>
		</ul>
		<div id="main">
			<ul>	
			<!-- ################################################### -->	
				<li class="round" who="1" id="home">				
					<div class="content">						
						<div id="feed"></div>
					</div>
					<div class="holder">News Feed</div>
				</li>
			<!-- ################################################### -->
				<li class="round" who="2" id="contests">						
					<div class="content">
						<h3> What's your status ?</h3>
						<form name="status post" action="javascript:void(0);">
							<input type="text" id="status" size="20"/>  
							<input name="submitstatus" type="button"  id="submitstatus" value="Post" onclick = "Dajaxice.main.new_post( newpost, { 'newtext': status.value } );"/>  
						</form> 
						<div id="sysmsg"></div> 
					</div>
					<div class="holder">New Post</div>
				</li>
			<!-- ################################################### -->
				<li class="round" who="3" id="problems">	
					<div class="content">
						<br>				
						<P> WeAll Public ChatRoom </p><br>
						<div id="wrapper">  
								<div id="menu">  
									<p class="welcome">Chat with anyone here!<b></b></p>    
									<div style="clear:both"></div>  
								</div> 
							<div id="chatbox"></div>  
							<form name="message" action="javascript:void(0);">  
								<input type="text" id="msg" size="63" onkeypress="searchKeyPress(event);"/>  
								<input name="submitmsg" type="button"  id="submitmsg" value="Send" onclick = "Dajaxice.chat.chat( loadLog, { 'text': msg.value } );"/>  
							</form>  
						</div> 
					</div>
					<div class="holder">Chat</div>
				</li>
			<!-- ################################################### -->
				<li class="round" who="4" id="conver">				
					<div class="content">
						<form name="search" action="javascript:void(0);">  
							<input type="text" id="searchtext" size="63" onkeypress="searchKeyPress(event);"/>  
							<input name="searchbutton" type="button"  id="searchbutton" value="Search" onclick = "Dajaxice.main.search_poeple( loadsearch, { 'name': searchtext.value } );"/>  
						</form>
						<div id="search_result"></div>
						<div id="friendsysmsg"></div>
					</div>
					<div class="holder">Find Friends</div>
				</li>
			<!-- ################################################### -->					
				<li class="round" who="5" id="FAQ">				
					<div class="content">
						<h3> {{ person.first_name }} {{ person.last_name }}'s Profile </h3> <br>
						<p> </p>
					</div>
					<div class="holder">Profile</div>
				</li>
			<!-- ################################################### -->	
			</ul>
		</div>
		
		<script type="text/javascript"> $('#nitiftext').hide(); $('#submit').hide(); $('#problem').hide(); $('#login').hide(); $('#newpass').hide(); $('#endcontest').hide(); $('#alacstatus').hide(); $('#alacstand').hide(); $('#alacproblem').hide(); </script>
		
		<div id="footer">
            <p>All rights reserved We All &copy;</p><br><!-- <p> <a href="/login/close">logout</a></p>-->
        </div>
        <div>
            <img src="{% static 'main/img/vector.png' %}" style="width:107%; height:auto; margin-left:-42px; margin-top:32%">
        </div>
	</body>
</html>
