{% load dajaxice_templatetags %}
<html>
	<head>
		<title>We All!</title>
		{% load staticfiles %}
		{% dajaxice_js_import %}
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'main/icn/favicon.ico' %}" />
		<meta http-equiv="Content-Type" content="text /html; charset=UTF-8" />
		<link type="text/css" rel="stylesheet" href="{% static 'main/css/team.css' %}" media="screen"/>
		<link rel="stylesheet" href="{% static 'chat/style.css' %}"/>
		<script type="text/javascript" src="{% static 'main/jsc/jquery-1.4.js' %}"></script>
		<script type="text/javascript" src="{% static 'main/jsc/roundabout.js' %}"></script>		
		<script type="text/javascript" src="{% static 'main/jsc/myscripts.js' %}"></script>	
		<script type="text/javascript" src="{% static 'main/jsc/myjs.js' %}"></script>

	</head>
	<body id="{{ time }}" class="{{ time }}">
		<ul id="nav">
			<div id="backbar"></div>
			<center>
				<li where="1" class="selected">News Feed</li>
				<li where="2">New Post</li>				
				<li where="3">Chat Room</li>
				<li where="4">Friends</li>				
				<li where="5">Profile</li>
			</center>
		</ul>
		<div id="main">
			<ul>	
			<!-- ################################################### -->	
				<li class="round" who="1" id="home">				
					<div class="content">						
						<br><br><div id="feed"></div>
					</div>
					<div class="holder">News Feed</div>
				</li>
			<!-- ################################################### -->
				<li class="round" who="2"  style="overflow:hidden;">						
					<div class="content">
						<p class="header"><br>What's Up?!</p><hr>
                        <div>	
                           					
						<form name="status_post" action="javascript:void(0);">	
                             <textarea name="status" id="status" form="status_post" rows="7"></textarea><br>					      					
							<!--<input type="text" id="status" size="20"/>-->  
							<input name="submitstatus" type="button"  id="submitstatus" value="Post" onclick = "Dajaxice.main.new_post( newpost, { 'newtext': document.getElementById('status').value } );"/>  
						</form>
                            
                        </div>
						<img src="{% static 'main/img/post.png' %}" style="height:70%; width:auto;; float:right; margin-top:-70px;">
						<div id="sysmsg"></div> 
					</div>
					<div class="holder">New Post</div>
				</li>
			<!-- ################################################### -->
				<li class="round" who="3" id="problems">	
					<div class="content">
						<br>				
						<p class="header"><br>We All! &copy; chatroom!</p><hr>
						<div id="wrapper">  
								<div id="menu">  									   
									<div style="clear:both"></div>  
								</div> 
							<div id="chatbox"></div>  
							<form name="message" action="javascript:void(0);">  
								<input type="text" id="msg" size="63" onkeypress="searchKeyPress(event);"/>  
								<input name="submitmsg" type="button"  id="submitmsg" value="Send" onclick = "Dajaxice.chat.chat( loadLog, { 'text': msg.value } );"/>  
							</form>  
						</div> 
					</div>
					<div class="holder">Chat Room</div>
				</li>
			<!-- ################################################### -->
				<li class="round" who="4" id="conver">				
					<div class="content">
						<form name="search" action="javascript:void(0);">  
							<input type="text" id="searchtext" size="63" onkeypress="searchKeyPress(event);"/>  
							<input name="searchbutton" type="button"  id="searchbutton" value="Search" onclick = "Dajaxice.main.search_poeple( loadsearch, { 'name': searchtext.value } );"/>  
						</form>
						<div id="search_result"></div>
						<div id="friendsysmsg"></div>
                        <a href="javascript:Dajaxice.main.show_friend(loadfriend);">Show Friends</a>
                        <div id="friendlist"></div>
					</div>
					<div class="holder">Friends</div>
				</li>
			<!-- ################################################### -->					
				<li class="round" who="5" style="overflow:hidden;">				
					<div class="content">
						<p class="header"><br>{{ user.first_name }} {{ user.last_name }}</p><a href="/login/close">Log out</a><hr>
						<fieldset>
						    <legend>Information:</legend>
						    <p class="info">
						    <b>First name:</b> {{ user.first_name }} <br>
						    <b>Last name:</b> {{ user.last_name }} <br>
						    <b>E-Mail Address:</b> {{ user.email }} <br>
						    <b>Birthday:</b> {{ person.birth_date }} <br>
						    <b>Gender:</b> {{ person.gerder }} <br>						    
						    </p><hr>
						    <p class="info">
						    <b>Country:</b> {{ person.country }} <br>
						    <b>Phone number:</b> {{ person.phone_num }} <br>
						    <b>Work:</b> None <br>
						    <b>Home town:</b> None <br>
						    <b>University:</b> None <br>
						    </p><hr>
						    <p class="info">
						    <b>Join date:</b> {{ person.join_date }} <br>
						    <b>Last Log in</b> {{ person.last_login }} <br>
						    </p>						    
						</fieldset>																		
                        <img src="{% static 'main/img/logo_text.png' %}" style="width:100%; height:auto; opacity:0.4; margin-top:-100px;">
					</div>
					<div class="holder">Profile</div>
				</li>
			<!-- ################################################### -->	
			</ul>
		</div>
		
		<script type="text/javascript"> $('#nitiftext').hide(); $('#submit').hide(); $('#problem').hide(); $('#login').hide(); $('#newpass').hide(); $('#endcontest').hide(); $('#alacstatus').hide(); $('#alacstand').hide(); $('#alacproblem').hide(); </script>
		
		<div id="footer">
            <br><p>All rights reserved We All &copy;</p>
        </div>
        <div>
            <img src="{% static 'main/img/vector.png' %}" style="width:107%; height:auto; margin-left:-42px; margin-top:32%">
        </div>
	</body>
</html>
