<html>

<head>
    <title>We All! Have Fun!</title>
    {% load staticfiles %}
    <style>
		body
		{	
			font-family:arial;
			background-image:url("{% static 'login/images/backgrounds/' %}{{ random }}.jpg");
    		background-repeat:no-repeat;
		    background-position:left top;
		    background-size:100%;
		}
	</style>
</head>
<!--########################################################################################-->
<body>	
    <div style="height:6%; width:100%; border-radius:10px">        
    </div>
    <img src="{% static 'login/images/WeAll.png' %}" style="float:right; height:75%; margin-right:5%;">
	<div>
        <form action="/login/" id = "Sign Up!" method="POST" style="margin-top:30%; margin-left:5%;">
            <fieldset style="width:20%; border-radius:10px; background-color:#c0c0c0; opacity:0.7">
                <legend style="font-size:24; color:#FFFFFF; opacity:1;"><b>Log in</b></legend>
                <input type="text" size="25" name="username" placeholder="Username" style="font-size:16;"><br>
                <input type="password" size="25" name="password" placeholder="Password" style="font-size:16;"><br>
                <input type="submit" name="Login" value="Log in!" style="float:right; margin-right:5px;"><br>
				<p color="red">{{ message }}</p>
                Don't have an account?<br>No worries! Sign up <a href="/register/">Here</a>, it's free and easy!
            </fieldset>
        </form>
    </div>
</body>

</html>
