<html>

<head>
    <title>We All! Have Fun!</title>
    <meta name="author" content="Reza Shayestehpour && Hooman Behnejad">
    <style>
	body
	{	
			font-family:arial;
			background-image:url('/media/images/backgrounds/{{ random }}.jpg');
    		background-repeat:no-repeat;
		    background-position:left top;
		    background-size:100%;
	}
	fieldset
	{
		float:left;
		margin-top:30%;
		margin-left:5%;
		opacity:0.75;
		background-color:#c0c0c0;
		border-radius:10px;	
	}
	</style>
</head>

<body>
	
    <div id="Header" style="height:6%; width:100%; border-radius:10px">
        <img src="/media/images/logo_no_text.png" height="100%" style="margin-top:3px; margin-left:2%; opacity:1">
    </div>
    <img src="/media/images/WeAll.png" style="float:right; height:75%; margin-right:5%; margin-top:2%">

    <div >
     <fieldset>
        <form action="/login/" method="POST" id="Sign Up!" style="margin-top:3%;">
                <legend style="font-size:18; color:#719CAA ;"><b>Login</b></legend>
                <input type="text" size="25" name="email" placeholder="Username" style="font-size:16;"><br>
                <input type="password" size="25" name="password" placeholder="Password" style="font-size:16;"><br>
                <a href="">forgot your password?</a>
                <input type="submit" name="Login" value="Log In!">
                <p style="font-size:15;">Don't have an account? No worries!<br /> Sign up 
                <a href="/register/">Here</a>, it's free and easy!</p>
            
        </form>
     </fieldset>
    </div>
</body>

</html>
