<html>
	<head>
		<title>We All!</title>
		{% load staticfiles %}
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'main/icn/icon.ico' %}" />
		<meta http-equiv="Content-Type" content="text /html; charset=UTF-8" />
		<link type="text/css" rel="stylesheet" href="{% static 'main/css/team.css' %}" media="screen"/>
	<!--	<link type="text/css" rel="stylesheet" href="{% static 'main/css/tipsy.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'main/css/jscroll.css' %}" /> -->
		<script type="text/javascript" src="{% static 'main/jsc/jquery-1.4.js' %}"></script>
		<script type="text/javascript" src="{% static 'main/jsc/roundabout.js' %}"></script>		
		<script type="text/javascript" src="{% static 'main/jsc/myscripts.js' %}"></script>				
	</head>
	<body>
		<ul id="nav">
			<div id="backbar"></div>
			<center>
				<li where="1" class="selected">News Feed</li>
				<li where="2">New Post</li>				
				<li where="3">Chat</li>
				<li where="4">Find Friends</li>				
				<li where="5">Help</li>
			</center>
		</ul>
		<div id="main">
			<ul>		
				<li class="round" who="1" id="home">				
					<div class="content">						
						salam!!!<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
salam<br>
					</div>
					<div class="holder">News Feed</div>
				</li>
				<li class="round" who="2" id="contests">						
					<div class="content">	
						
					</div>
					<div class="holder">New Post</div>
				</li>
				<li class="round" who="3" id="problems">	
					<div class="content">				
						
					</div>
					<div class="holder">Chat</div>
				</li>			
				<li class="round" who="4" id="conver">				
					<div class="content">
						
					</div>
					<div class="holder">Find Friends</div>
				</li>							
				<li class="round" who="5" id="FAQ">				
					<div class="content">
						
					</div>
					<div class="holder">Help</div>
				</li>					
			</ul>
		</div>
		
		<script type="text/javascript"> $('#nitiftext').hide(); $('#submit').hide(); $('#problem').hide(); $('#login').hide(); $('#newpass').hide(); $('#endcontest').hide(); $('#alacstatus').hide(); $('#alacstand').hide(); $('#alacproblem').hide(); </script>
		
		<div id="footer"><p>All rights reserved We All &copy;</p></div>
	</body>
</html>
