
body
{
    font-family:arial;
    background-image:url('../../media/images/signup_header.png');
    background-repeat:no-repeat;
    background-position:center top;
    background-size:70% auto;
}

fieldset
{    
    opacity:0.75;
    background-color:#c0c0c0;
    border-radius:10px;
    width:25%;
}
.inputs
{    
    font-size:17;
    border-radius:5px;
    margin-top:7px;
}

legend
{
    font-size:18px;
}
