<html>
    <head>
		<title>Hello World!</title>
		<!margin-left fasele darsadi az kenareha>
		<style type="text/css">
			body {
			background-color: f69577;
			margin-left: 10%;
			margin-right: 10%; 
			border: 3px dotted purple;
			padding: 10px 10px 10px 10px;
			font-family: sans-serif;
			}
		</style>
    </head>

    <body>
		<! haminiye ke hast >
		<center>
		<h1>Welcome to our social network</h1>
		<p>This is our logo! it's so nice,we know</p>
		<a href="../login/templates/logo_text.png" target="_blank">
			<img src="../login/templates/logo_text.png" alt="well this means the image can't be loaded" width="250" height="125">
		</a>
		<img src="../login/templates/logo_text.png" alt="well this means the image can't be loaded" width="250" height="125">
		<img src="../login/templates/logo_text.png" alt="well this means the image can't be loaded" width="250" height="125">
		<img src="../login/templates/logo_text.png" alt="well this means the image can't be loaded" width="250" height="125">
		<img src="../login/templates/logo_text.png" alt="well this means the image can't be loaded" width="250" height="125">
		<img src="../login/templates/logo_text.png" alt="well this means the image can't be loaded" width="250" height="125">
		<h2 id="asb">.....................</h2>
		<p>This web designed by <em><q>Hooman Behnejad</q></em>.</p>
		<p>Let's have a see to our 
			<a target="_blank" href="D:\utility\books\python\Algorithms and Data structures\index.html" title="joontape"><em>privacy</em></a>
		</p>
		</center>
		
		
    </body>
</html>
